@{
    ViewBag.Title = "Home Page";
}

<ul>
    <li><h1><a href="/Home/AllUserTasksView" style="color:forestgreen">All Task Test</a></h1></li>
    <li><h1><a href="/Home/UserTaskActions" style="color:forestgreen">User Task Test</a></h1></li>
</ul>
